<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>Enjoy a Burger</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                <!-- loops through each burger in the data-->
                {{#each bData}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-primary">EAT IT</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>

        <!--makes button after clicking "Eat It" by looping through the burger database if true-->
        <div class="col-xs-6 text-center" class="task">
            {{#each bData}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>

    </div>
</div>
<!--Submits data to the routes file and adds data to the create in ORM-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
                <p>Type the name of the burger you would like to eat!</p>
            </form>
        </div>
    </div>
</div>